<div class="container">

	<div class="row justify-content-center">
		<div class="col-6">
			<article class="card-body mx-auto">
				<h4 class="card-title mt-3 text-center">Editar Oferta</h4>
				<form action="/editaroferta/{{oferta.proyecto_id}}/{{oferta.nombre_oferta}}" method="POST">
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> </span>
						</div>
						<input name="nombre_oferta" class="form-control" placeholder="Nombre oferta" size="60" value="{{oferta.nombre_oferta}}"
							type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> </span>
						</div>
						<textarea rows="4" cols="50" name="descripcion" class="form-control" placeholder="Descripcion de la oferta">{{oferta.descripcion}}</textarea>
						
					</div> <!-- form-group// --><select name="role" class="form-control">
						<option value="Fotografo">Fotografo</option>
						<option value="Diseniador">Diseñador</option>
						<option value="Publicista">Publicista</option>
						<option value="Programador">Programador</option>
					</select>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> </span>
						</div>
						<input name="experiencia" class="form-control" placeholder="Experiencia" type="text"  value="{{oferta.experiencia}}">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">  </span>
						</div>
						<input name="sueldo" class="form-control" placeholder="Sueldo" type="text" value="{{oferta.sueldo}}">
					</div> <!-- form-group// -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Actualizar Oferta </button>
					</div> <!-- form-group// -->
				</form>
				{{#if errors}}
				{{#each errors }}
				<div class="col-9 alert alert-danger" role="alert">{{ this.msg }}</div>
				{{/each}}
				{{/if}}
				{{#if message}}
				<div class="col-6 alert alert-primary" role="alert">
					{{ message }}
				</div>
				{{/if}}
			</article>
		</div>
	</div>
	<!-- card.// -->

</div>
<!--container end.//-->