<center>
  <div>{{ error_log }}</div>
</center>
<br>
<br>
<div id="content-query">
  <section class="card">
    <h3><b>GESTION DE OFERTAS</b></h3>
    {{#if ofertas}}
    {{#each ofertas }}
    <div class="divoferta">
      <h5>Nombre de la oferta: {{ this.nombre_oferta}}</h5>
      <p>Empresa ofertante: {{ this.nombre_empresa}}</p>
      <p>Descripcion : {{this.descripcion}}</p>
      <p>Experiencia : {{this.experiencia}}</p>
      <p>Sueldo : {{this.sueldo}}</p>
      <form method="get" action="/eliminaroferta/{{this.proyecto_id}}/{{this.nombre_oferta}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">Eliminar oferta<i class="fa fa-edit"></i></button>
      </form>
            <form method="get" action="/editaroferta/{{this.proyecto_id}}/{{this.nombre_oferta}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">EDIT <i class="fa fa-edit"></i></button>
      </form>
    </div>
    {{/each}}
    {{/if}}
    {{#if proyecto}}
    {{proyecto.proyecto_id}}
    <form method="get" action="/crearoferta/{{proyecto.proyecto_id}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">Crear Oferta  <i class="fa fa-edit"></i></button>
    </form>
    {{/if}}
  </section>
</div>
<br>
