<center>
  <div>{{ error_log }}</div>
</center>
<br>
<br>
<div id="content-query">
  {{#if error}}
  <h3>{{error}}</h3>
  {{else}}
  <section class="card">
    <h3><b>GESTION DE OFERTAS</b></h3>
    {{#if ofertas}}
    {{#each ofertas }}
    {{#if this.nombre_empresa}}
    <div class="divoferta">
      <h5>Nombre de la oferta: {{ this.nombre_oferta}}</h5>
      <p>Empresa ofertante: {{ this.nombre_empresa}}</p>
      <p>Rol : {{this.role}}</p>
      <p>Descripcion : {{this.descripcion}}</p>
      <p>Experiencia : {{this.experiencia}}</p>
      <p>Sueldo : {{this.sueldo}}</p>
      <form method="get" action="/editaroferta/{{this.proyecto_id}}/{{this.nombre_oferta}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">EDIT <i class="fa fa-edit"></i></button>
      </form>
      <form method="get" action="/elegircandidatos/{{this.proyecto_id}}lllllll{{this.nombre_oferta}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">Elegir Canditatos <i class="fa fa-edit"></i></button>
      </form>
    </div>
    {{/if}}
    {{/each}}
    {{/if}}

    {{#if proyecto}}
    <form method="get" action="/crearoferta/{{proyecto.proyecto_id}}">
      <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
        title="Edit">Crear Oferta <i class="fa fa-edit"></i></button>
    </form>
    {{/if}}
    {{/if}}
  </section>
</div>
<br>