<center>
    <div>{{ error_log }}</div>
</center>
<br>
<br>
<div id="content-query">
    <section class="card">
        <h3></h3>
        </script>
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="media-body mb-5">
                        <h4>{{user.name}}</h4>
                        <h5>{{user.nickname}}</h5>
                    </div>
                </div>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Informacion</h5>
                {{#if user}}
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">{{user.role}}</p>
                    <p class="font-italic mb-0">{{user.email}}</p>
                    <p class="font-italic mb-0">{{user.location}}</p>
                    <p class="font-italic mb-0">{{user.phone}}</p>
                    <p class="font-italic mb-0">{{user.createdAt}}</p>
                </div>
                {{/if}}
            </div>

        </div>
        <br>