<center>
  <div>{{ error_log }}</div>
</center>
<br>
<br>
<div id="content-query">
  <section class="card">
    <h3><b>Lista de ofertas</b></h3>
    {{#if ofertas}}
    {{#each ofertas }}
    <div class="divoferta">
      <h5>Nombre de la oferta: {{ this.name }}</h5>
      <p>Empresa ofertante: {{ this.empresario }}</p>
      <p>Descripcion : {{this.descripcion}}</p>
      <p>Experiencia : {{this.experiencia}}</p>
      <p>Sueldo : {{this.sueldo}}</p>
      <form method="get" action="/proyecto/{{this.proyecto_id}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">Ver proyecto <i class="fa fa-edit"></i></button>
      </form>
      <form method="get" action="/aplicaroferta/{{this.proyecto_id}}/{{this.proyecto_id}}">
        <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top"
          title="Edit">Aplicar a esta oferta<i class="fa fa-edit"></i></button>
      </form>
    </div>
    {{/each}}

    {{/if}}
  </section>
</div>
<br>
